<div class="boxl">
    <h3>My tasks today</h3>
    <ul style="list-style-type:none;">
        <li  *ngFor="let element of array; let i = index">
        <button (click) = "select(i, true)">
            
            {{element.name}}
            <button (click)="removeArray(i)">Delete</button>

        </button>
            <p>
                {{element.description}}
            </p>
        </li>

    </ul>
    <div class="box">
        <h3>Add task</h3>
        <p>
            <span> Name: <input [(ngModel)]="name"></span>
        </p>
        <p>
            <span> Description: <input [(ngModel)]="description"></span>
        </p>
        <p>
        <button (click)="addArray()">Add</button>
    </p>
    </div>
</div>
