<div>
    <app-home [title]="'home'"></app-home>
    <ul style="list-style-type:none;">
        <li>
            <app-newbar [title]="'newbar'"></app-newbar>
            <ul style="list-style-type:none;">
                <li>
                    <app-searchbar [title]="'searchbar'"></app-searchbar>
                </li>
            </ul>
            <app-categorymenu [title]="'categorymen'"></app-categorymenu>
            <app-topbanner [title]="'topbanner'"></app-topbanner>
        </li>
    </ul>
</div>
        